body {
    font-family: Helvetica, sans-serif;
    background-color: #FFFAF0;
}


/* Header */
.head-foot-color {
    background-color: #A9A9A9;
}

.navbar{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar-fixedwidth {
    width: 70vw;
    margin: 0 auto;
}

.navbar-toggler {
    margin: 0 auto;
}

header img{
    width: 196px;
    height: 150px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}


/* Home Page Content */

#hero-image{
    width: 100%;
    height: 65vh;
    background: url("../assets/images/hero-image.jpg") no-repeat center center;
    margin-top: 15px;
}

#home-logo-div{
    width: 196px;
    height: 150px;
    margin: auto;
    padding-top: 10px;
    animation-name: fade-logo;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
     animation-fill-mode: both;
}

@keyframes fade-logo {
  from {opacity: 0;}
  to {opacity: 1;}
}

#home-logo{
    max-width: 100%;
    max-height: 100%;
}

#home-logo-outer{
    background-color: #FFFAF0;
    opacity: 0.8;
    padding: 10px;
    border-radius:10px;
}

.description-box {
    padding: 20px 20px 20px 20px;

}

.description-box-inner {
    background-color: #D3D3D3;
    border-radius: 10px;

}

.description-fixed-width{
    width: 90vw;
    margin: 0 auto;
}

.description-text{
    padding: 1em;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
}


/* Footer */

.footer-text {
    font-size: 14px;
}

#footer-logo {
    height: 50px;
}

footer div div{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


/* About page content */

.about-fixed-width{
    width: 66vw;
    margin: 0 auto;
    padding-top:15px;
}

.div-padding{
    padding: 20px;
}

.about-img {
    width: 90%;
    height:auto;
}

.residents-guide {
    padding-top: 5px;
    padding-bottom: 5px;
}

.residents-guide-div{
    padding-top: 15px;
    margin-right: 0;
}


/* Gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    width:80%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#gallery img{
    width: 100%;
}

@media screen and (max-width: 943px){

     #gallery{
        column-count: 3;
    }
}

@media screen and (max-width: 800px){
    #gallery{
        column-count: 2;
    }
}